html
    head
        title Sudoku
        script(src='/js/jquery.min.js')
        script(src='/js/materialize.min.js')
        script(src="/socket.io/socket.io.js")
        script(src='/js/home.js')
        link(rel="stylesheet", href="/css/materialize.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(href="/css/home.css", rel="stylesheet")
    body
        div
            table
                tbody#table
        div
            table
                tbody#solved