tbody {
    background-color: white;
}

table {
    border: 3px solid black;
    border-collapse: collapse;
}

tr {
    /*border: 1px solid black;*/
    margin: 0;
}
td {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin: 0;
    text-align: center;
    font-size: xx-large;
}

div {
    margin-bottom: 30px;
}
td:nth-child(3n) {
    border-right-width: 3px;
}

tr:nth-child(3n) > td {
    border-bottom-width: 3px;
}

.green {
    background-color: green !important;
}